<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans  xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:util="http://www.springframework.org/schema/util"
       xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
                             http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util-3.0.xsd
                        http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

  
 <security:global-method-security pre-post-annotations="enabled" />
    

 <security:http auto-config="true">
         
        <security:intercept-url pattern="/js/Ecommerce/Subscribe**" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
 
          <security:form-login login-page="/login.dhtml" authentication-failure-url="/login_fail.dhtml?error=1"/>
        <security:logout logout-url="/j_spring_security_logout" logout-success-url="/login.dhtml"/>
        
       
        <security:port-mappings>
            <security:port-mapping http="8090" https="8443"/>
            <security:port-mapping http="8080" https="8443"/>
        </security:port-mappings>
    
      
    </security:http>

    <!--
    Usernames/Passwords are
        rod/koala
        dianne/emu
        scott/wombat
        peter/opal
    -->
    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder hash="md5"/>
            <security:user-service>
                <security:user name="rod" password="a564de63c2d0da68cf47586ee05984d7" authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER" />
                <security:user name="dianne" password="65d15fe9156f9c4bbffd98085992a44e" authorities="ROLE_USER,ROLE_TELLER" />
                <security:user name="scott" password="2b58af6dddbd072ed27ffc86725d7d3a" authorities="ROLE_USER" />
                <security:user name="peter" password="22b5c9accc6e1ba628cedc63a72d57f8" authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
    
     
    
    <beans:bean id="channelProcessingFilter" class="org.springframework.security.web.access.channel.ChannelProcessingFilter">
        <beans:property name="channelDecisionManager">
            <beans:bean class="org.springframework.security.web.access.channel.ChannelDecisionManagerImpl">
                <beans:property name="channelProcessors">
                    <util:list>
                        <beans:bean class="org.springframework.security.web.access.channel.SecureChannelProcessor"/>
                        <beans:bean class="org.springframework.security.web.access.channel.InsecureChannelProcessor"/>
                    </util:list>
                </beans:property>
            </beans:bean>
        </beans:property>
        <beans:property name="securityMetadataSource">
            <beans:bean class=" org.springframework.security.web.access.intercept.DefaultFilterInvocationSecurityMetadataSource">
                <beans:constructor-arg>
                    <beans:bean class="org.springframework.security.web.util.AntUrlPathMatcher"/>
                </beans:constructor-arg>
                <beans:constructor-arg>
                    <util:map map-class="java.util.LinkedHashMap">
                        <beans:entry>
                            <beans:key>
                                <beans:bean class="org.springframework.security.web.access.intercept.RequestKey">
                                    <beans:constructor-arg value="/js/**/**"/>
                                </beans:bean>
                            </beans:key>
                            <util:list>
                        <beans:bean class="org.springframework.security.access.SecurityConfig">
                            <beans:constructor-arg value="REQUIRES_SECURE_CHANNEL"/>
                        </beans:bean>
                    </util:list>
                        </beans:entry>
                        <beans:entry>
                            <beans:key>
                                <beans:bean class="org.springframework.security.web.access.intercept.RequestKey">
                                    <beans:constructor-arg value="/**"/>
                                </beans:bean>
                            </beans:key>
                            <util:list>
                        <beans:bean class="org.springframework.security.access.SecurityConfig">
                            <beans:constructor-arg value="REQUIRES_INSECURE_CHANNEL"/>
                        </beans:bean>
                    </util:list>
                        </beans:entry>
                    </util:map>
                </beans:constructor-arg>
            </beans:bean>
    </beans:property>
</beans:bean>

</beans:beans>
