/* RESET FILE -------------- */
* {outline: none;}body {margin: 0;padding: 0;font-size:12px;height: 100%;}a:link, a:visited, a:hover, a:active {text-decoration: none;}
ul, ol {margin: 0;padding: 0;list-style-type: none;}form {margin: 0px;padding: 0px;}a img {border: 0;}.clearfix:after{ content: ".";  display: block;  height: 0; clear: both;  visibility: hidden;}.clearfix{min-width: 0;     display: inline-block; display: block;}* html .clearfix{height: 1%;}.left{float: left;}.right{float: right;}.textleft{text-align:left;}.textright{text-align:right;}textarea {overflow:auto;}

/* COMMON TAGS ------------- */
.clear { clear:both; line-height:1px; height:1px; }
a:hover {text-decoration:underline; }
a {color:#333;}

/* TYPOGRAPHY -------------- */
h1 { font-size:1.8em; }h2 { font-size:2.2em; }h3 { font-size:2.0em; }h4 { font-size:1.8em; }h5 { font-size:1.6em; }h6 { font-size:1.4em; }
p, h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; }
h1, h2, h3, h4, h5, h6, th{color:#000;}

/*  LAYOUT TAGS ------------ */
body {background:url(../images/bg_body.gif) repeat; font-family:Arial, Helvetica, sans-serif; padding:60px 0; color:#666;}
.wrap {width:984px; margin:0 auto;}
#box_top, #box_bottom {width:100%; height:20px; float:left;}
#box{background:url(../images/bg_box.png) repeat-y; width:960px; padding:0 12px; float:left;}
#header {padding:0 40px; min-height:146px; border-bottom:solid 1px #efefef; }
#logo {width:500px; min-height:70px; padding:30px 0 0 0; float:left; }
#header_right {width:380px; padding:30px 0 0 0; float:left; text-align:right; }
#header_right h2 {font-size:30px; line-height:34px; padding-bottom:6px;}
#header_right p {font-size:16px; line-height:20px;}

#details {min-height:160px; border-bottom:solid 1px #efefef; line-height:20px; padding:0 40px;}
#details .invoice-from, #details .invoice-to {width:198px; float:left; padding:40px 0 0 0; }
#details .invoice-from{width:238px}
#details .invoice-desc {width:398px; padding:40px 0 0 40px; float:left;}
#details h3 {font-size:16px;}
#details p { font-size:16px;}

/* Table */
#table {width:878px; margin:40px;} 
table.summary{border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
table.summary th, table.summary td{padding:10px 20px; border-left:1px solid #d2d2d2; border-top:1px solid #d2d2d2; font-size:14px; }
table.summary th{color:#000; text-align:left; font-weight:normal; background:url(../images/bg_thead.gif) repeat-x; border-left:0;}
table.summary th:first-child, table.summary tr.tfoot td:first-child{border-left:1px solid #d2d2d2;}
table.summary tr.tfoot td{border-left:0; color:#000; font-weight:bold;}
table.summary tr.tfoot {background:#efefef;}
table.summary tbody td{ text-align:left;}

#payment {width:880px; margin:0 39px; padding-bottom:20px; text-align:right; line-height:40px;}
#payment span {font-size:16px; font-style:italic;}
a.paypal {background:url(../images/paypal-sprite.png) no-repeat left top; width:150px; height:40px; display:block; text-indent:-9999px; text-align:left; line-height:40px; margin-left:18px; float:right;}
a.paypal:hover {background-position:left bottom; }