<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>VANDELAY premier</title>
<style type="text/css">
/* RESET FILE -------------- */
* {outline: none;}body {margin: 0;padding: 0;font-size:12px;height: 100%;}a:link, a:visited, a:hover, a:active {text-decoration: none;}
ul, ol {margin: 0;padding: 0;list-style-type: none;}form {margin: 0px;padding: 0px;}a img {border: 0;}.clearfix:after{ content: ".";  display: block;  height: 0; clear: both;  visibility: hidden;}.clearfix{min-width: 0;     display: inline-block; display: block;}* html .clearfix{height: 1%;}.left{float: left;}.right{float: right;}.textleft{text-align:left;}.textright{text-align:right;}textarea {overflow:auto;}

/* COMMON TAGS ------------- */
.clear { clear:both; line-height:1px; height:1px; }
a:hover {text-decoration:underline; }
a {color:#333;}

/* TYPOGRAPHY -------------- */
h1 { font-size:1.8em; }h2 { font-size:2.2em; }h3 { font-size:2.0em; }h4 { font-size:1.8em; }h5 { font-size:1.6em; }h6 { font-size:1.4em; }
p, h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; }
h1, h2, h3, h4, h5, h6, th{color:#000;}

/*  LAYOUT TAGS ------------ */
body {background:url(../images/bg_body.gif) repeat; font-family:Arial, Helvetica, sans-serif; padding:0px 0; color:#666;}
.wrap {width:984px; margin:0 auto;}
#box{background:url(../images/bg_box.png) repeat-y; padding:0 12px; }
#header {padding:0px; min-height:146px; border-bottom:solid 1px #efefef; }
#logo {width:100px; min-height:70px; padding:0 0 0 0;float:left }

#header .invoice-from{width:800px; }


#details {min-height:160px; border-bottom:solid 1px #efefef; line-height:20px; padding:0px;}
#details .invoice-to {width:250px; float:left; padding:20px 0 0 0; }


#details h3 {font-size:16px;}
#details p { font-size:14px;}

/* Table */
#table {width:680px; margin-top:60px;} 
table.summary{border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
table.summary th, table.summary td{padding:10px 20px; border-left:1px solid #d2d2d2; border-top:1px solid #d2d2d2; font-size:15px; }
table.summary th{color:#000; text-align:center; font-weight:normal; background:url(../images/bg_thead.gif) repeat-x; border-left:0;}
table.summary th:first-child, table.summary tr.tfoot td:first-child{border-left:1px solid #d2d2d2;}
table.summary tr.tfoot td{border-left:0; color:#000; font-weight:bold;}
table.summary tr.tfoot {background:#efefef;}
table.summary tbody td{ text-align:right;}

#payment {width:880px; margin:0px; padding-bottom:20px; text-align:left; line-height:40px;}
#payment p {width:170px;float:right}
a.paypal {background:url(../images/paypal-sprite.png) no-repeat left top; width:150px; height:40px; display:block; text-indent:-9999px; text-align:left; line-height:40px; margin-left:18px; float:right;}
a.paypal:hover {background-position:left bottom; }
</style>
</head>
<body>
<!-- start wrap -->
<div class="wrap">
	
    <!-- start box -->
    <div id="box">
    	<!-- start header -->
        <div id="header">
	<!-- start logo -->
            <div id="logo">
          	<a href="http://localhost:8080/EcommerceFrontEnd/js/Ecommerce/index.html" ><img src="http://localhost:8080/EcommerceFrontEnd/resources/themes/images/default/products/google+.png" width="100" height="110"/></a>            
	    </div> 	    
        <!-- end logo -->	
	<!-- start invoice-from -->
            <div class="invoice-from">            	
		<table  style="margin-left:120px" border="0" cellpadding="0" cellspacing="0"  >            
                	<tr>
                      <td  style="padding:0 0 5px 0; font-size:18px;  font-family:Verdana,Arial,helvetica; font-weight:bold" width="300">$companyInfo.name</td>                      
                	<td style="font-size:20px;font-family:Arial, Helvetica, sans-serif;  font-weight:bold"  width="300">Invoice #00043</td>                	
			</tr>
			<tr>
			  <td style="padding:0 0 5px 0; font-size:11px;font-family:Arial, Helvetica, sans-serif;  font-weight:bold"  width="300">$companyInfo.address </td>                                           
                	</tr>			
			<tr>
                     <td style="padding:0 0 5px 0; font-size:11px;font-family:Arial, Helvetica, sans-serif;  font-weight:bold"  width="300">$companyInfo.city     $companyInfo.postalCode</td>
		     <td style="font-size:13px;font-family:Arial, Helvetica, sans-serif;  font-weight:normal"  width="400">Consegna stimata tra  #foreach ($shippingForm in $shippings)$shippingForm.beginDateFormatted e $shippingForm.endDateFormatted#end</td>
		     </tr>			
		     <tr>
		     <td  style="padding:0 0 5px 0; font-size:11px;  font-family:Arial, Helvetica, sans-serif; font-weight:bold" width="300"> Telefono : $companyInfo.phone</td>		   		      
                	</tr>
			<tr>
			<td style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif;  font-weight:bold"  width="300"> Email : $companyInfo.email</td>
			</tr>
			<tr>
			<td style="font-size:11px;font-family:Arial, Helvetica, sans-serif;  font-weight:bold"  width="300"> P.IVA : $companyInfo.piva</td>
			</tr>
		</table>    
			
	    </div>		
            <!-- end invoice-from -->
		
        </div>
        <!-- end header -->
        <!-- start details -->
        <div id="details">        	
	
            <!-- start invoice-to -->
            <div class="invoice-to">
            	<h3>INDIRIZZO DI SPEDIZIONE:</h3>
            	<p><pre style="font-size:11px;font-family:Arial, Helvetica, sans-serif">$customer.firstName $customer.lastName <br/>#foreach ($shippingForm in $shippings)$shippingForm.nameState  $shippingForm.nameRegion  $shippingForm.nameCity<br/>$shippingForm.street #end</pre></p>
            </div>
            <!-- end invoice-to -->
           
        </div>
        <!-- end details -->
        <div class="clear"></div>
        
    	<!-- start table -->
    	<div id="table">
        	<table border="0" cellpadding="0" cellspacing="0" class="summary">
            	<thead>
                	<tr>
                      <th width="280">ARTICOLO</th>
                      <th width="20">Q.TA'</th>
                      <th width="60">PREZZO</th>
                      <th width="70">TOTALE</th>
		      <th width="20">IVA%</th>
                	</tr>
                </thead>
                <tbody>
                #foreach ($productDetails in $prodDetails)
                    <tr>
                        <td style=" text-align:left">$productDetails.name</td>                         
                           <td>$productDetails.quantity</td>
			   <td>$productDetails.price</td>
			   <td>$productDetails.unitaryPrice</td>
			   <td>$productDetails.vat</td>
                    </tr>
             #end
                </tbody>
		  </table>
   	  	</div>	
    	<!-- end table -->
        <div class="clear"></div>
        <!-- start payment -->
        <div id="payment">
        	<a href="#" title="Paypal" class="paypal">Paypal</a>
		<p>#foreach ($shippingForm in $shippings)Totale fattura : $shippingForm.totalPriceWithTaxes €#end</p>        	
        </div>
        <!-- end payment -->
    </div>
    <!-- end box -->
    <!-- start box bottom -->
    <div id="box_bottom"><img src="images/box_bottom.png" alt="img" /></div>
    <!-- end box bottom -->
</div>
<!-- end wrap -->
</body>
</html>